.modal-overlay {
    position: absolute;
    display: flex;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .modal {
    background-color: #ffffff;
    border: 1px solid #bebebe;
    border-radius: 15px;
    padding: 12px 16px;
    position: relative;
   width:500px;
  }
  
  .modal-close {
    position: absolute;
    right: 8px;
    top: 4px;
    font-size: 24px;
    cursor: pointer;
  }
  .main-create-board
  {
      border-radius: 15px;
  }
  .header-create-board
  {
      width: 540px;
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .contents-create-board
  {
      width: 540px;
      height: 155px;
      margin: 10px;

  }
  .contents-create-board >label
  {
      font-size: 15px;

  }
  .contents-create-board >input
  {
      width:480px ;
      height: 40px;
      border-radius: 10px;
      border-color: #e2e2e2;
      box-shadow: none;

  }
  .submit-create-board
  {
    width: 540px;
    height: 112px;

  }
  .submit-create-board>button
  {
      width: 80px;
      height: 48px;
      border-radius: 20px;
     
      font-size: larger;
      font-weight: bold;
      background-color: red;
      color: #ffffff;
      pointer-events:visible;
     
  }
  .active{
    background-color: rgb(194, 184, 184);
      color: gray;
      pointer-events: none;
    }
    .show-board
    {
      background-color:white;
display:flex;
width:100%;
height:100%;
margin-top:150px;
justify-content:center;
    }
    .showpins
    {
      margin-top:150px;
    }
    .nameBrd
    {
      position: fixed;
      text-align: center;
      width: 100%;
      margin: 10px;
      font-size: larger;
    }
    .edit
    {
      margin: 10px;
      width: 100px;
      height: 48px;
      border-radius: 20px;
      font-size: larger;
      font-weight: bold;
      background-color: red;
      color: #ffffff;
      pointer-events:visible;

    }
/***********/
/*design for add pin */
.buils_pin
{
  display: flex;
  width:100%;
  height:100%;
  background-color:#efefef;
  
 

}
.border-pin
{
width:880px;
height: 600px;
background-color: #ffffff;
padding-top: 100px;
border-radius: 16px;
display: flex;
flex-direction: column;
padding-left: 40px;
padding-right: 40px;
justify-content: center;
align-self: center;
margin-top: 100px;
margin-left: 100px;
margin-right: 100px;

}
.contents-border
{
 
 
}

.div-add-image
>button
{
  box-sizing: border-box;
  background-color: rgb(173, 169, 169);
  width: 40px;
  height: 40px;
  font:larger;
  font-weight: bolder;
  border-radius: 50px;
  margin-top: 50%;
  color:rgb(107, 107, 107);
}
.div-add-image
{
  border: rgb(158, 156, 156) 1px dashed;
  border-radius: 8px;
  background-color: #efefef;
  color:rgb(107, 107, 107);
  width: 340px;
  height: 510px ;
  text-align: center;
  padding-top:40 px;
}
.div-add-image>h6
{
  position: absolute;
  bottom:0;
  left:190px;

}
.header-div-details
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 110px;
  left:740px;

}
.div-details
{
 width: 150px;
 height: 100px;
  align-items: right;
}
.header-div-details>select
{
  width: 236px;
  height: 40px;
  border-radius: 16px;
  color:rgb(107, 107, 107);
  border: none;
}
.header-div-details>button
{
  cursor: pointer;
    width: 80px;
    height: 48px;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;
    background-color: red;
    color: #ffffff;
    pointer-events:visible;
}
.information
{
 
  width: 350px;
  position: absolute;
  top:220px;
  left:510px;
}
.inp-tit
{
 width: 100%;
 height: 65px;
 font: 65px;;
 font-weight: bolder;
 border:none;
 border-bottom:#efefef 3px solid;
 margin:30px;
}
.avatar
{
  width: 50px;
  height: 50px;
  border-radius: 40px;
 
}
.user-details
{
  margin-left:30px;
}
.none 
{
 display: none;
}
.visible
{
  
  width:100%;
  height:100%;
  
}
.delete
{
  box-sizing: border-box;
  background-color: red;
  color: #ffffff;
  width: 50px;
  height: 40px;
  font:larger;
  font-weight: bolder;
  border-radius: 16px;
  position: absolute;
  left: 140px;

}